.user-menu {
  display: flex;
  align-items: center;
}

.user-menu__user {
  display: flex;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 21px;
  padding: 6px 6px 6px 13px;
  height: 42px;
}

.user-menu__burger {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-menu__burger span {
  height: 2px;
  width: 14px;
  background-color: #222222;
}
